<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col col-4">COL1</section>
        <section class="col col-4">COL2</section>
        <section class="col col-4">COL3</section>
    </div>
    
</footer>