{% extends 'base.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {{ include('partials/_admin_nav.html.twig') }}
        <main class="col-9 border border-light bg-white p-2">
            <div class="col-12">
                <h1>Ajouter un produit</h1>
                {{ include('admin/products/_form.html.twig') }}
            </div>
        </main>
    </div>
</div>
    
{% endblock %}
