<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour {{ user.firstname }}</p>
<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>
<a href="{{ url|raw }}">{{ url|raw }}</a>
<p>Merci</p>